<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>card-display demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../card-display.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic card-display demo</h3>
      <demo-snippet>
        <template>
          <card-display debit card-background-image="//d1zr3pdt21yylq.cloudfront.net/sites/default/files/styles/card_gallery_image_medium/public/card_images/Card-Rainbow-2.jpg?itok=4ByV8WQG" network-logo="//www.card.com/sites/all/themes/atelerix/images/icons/visa-logo.svg" network-logo-background-color="#fff" card-number="•••• •••• •••• ••••" card-date="••/••••" card-holder-name="John Smith"></card-display>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
